
 * {
  margin: 0;
 }
 body {
  display: flex;
  flex-direction: column;
 }
 header {
  background-color: #363636;
  min-height: 47px;
  color: #ffffff;
 }
 .virsutinistarpas{
  height: 70px;
  background-color: #a1a1a1;
 }
 .mainBox{
  flex: auto;
  background-color: #ffffff;
 }
 footer {
  height: 70px;
  background-color: #a1a1a1;
 }