/* --------------CSS RESET ------------ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/*   
--------------CSS RESET ------------ */

/* FLEXBOX LAYOUT */
* {
  text-align: center;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes full viewport height */
}
header {
  height: 70px;
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: start;
}
main {
  display: flex;
  flex-direction: column;
  background-color: #a1a1a1;
  flex: 1; /* Allow main to grow and take the remaining space */
}
.virs {
  height: 70px;
}
.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Ensure mainBox takes up the available space within main */
}
.container {
  height: 584px;
  width: 347px;
  background-color: #ffffff;
  border-radius: 19px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.top {
  background-color: #363636;
  height: 60px;
  border-radius: 19px 19px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
}
.valandos {
  height: 70px;
  padding: 37px 22px 0 22px;
  display: flex;
  font-size: 23px;
  font-weight: bold;
  border: 1px solid red;
}
.kaire {
  margin-right: auto;
}
.progressbar {
  height: 9px;
  width: 299px;
  border-radius: 9px;
  border: 2px solid #4d5c68;
  margin: 15px auto;
}
.zemiauProgress {
  padding: 0px 22px 35px 22px;
  font-size: 14px;
  color: #a1a1a1;
  display: flex;
  border: 1px solid red;
}
.dataTekstas {
  margin: 0px 22px 11px 22px;
  font-size: 14px;
  color: #a1a1a1;
  text-align: start;
  border: 1px solid red;
}
.dataIrLaikas {
  margin: 0px 22px 0px 22px;
  margin-bottom: 25px;
  text-align: start;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  border: 1px solid red;
}
footer {
  height: 45px;
  background-color: #a1a1a1;
  margin-top: -1px; /* Add this line to ensure footer overlaps any gap */
}
/* FLEXBOX LAYOUT */
